<p style="color: green"><%= notice %></p>

<div class="container-fluid"><h1>Cardinal Gem</h1>
<div id="users" class="container-fluid">
	<% if @user and @user.save %>
		<p align="right">User: <%= @user.name  %></p>
	<% end %>
</div>
</div>

<div id="articles" class="container-fluid">
  <% @articles.each do |article| %>
		<div class="card border-danger" style="border-width: 3px; background-color: #f6f3f3">
	  	<div class="card-body">
    		<%= render article %>
			</div>
			<span class="align-middle"><%= link_to "Show this article", article %></span>
		</div>
		<br>
  <% end %>
	<span class="align-middle"><%= link_to "New article", new_article_path %></span>
</div>
<br>